.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  background-color: darkblue;
  width: 100%;
  position: absolute;
  bottom: 0;
  
}

.footer-title {
  color: white;
}
