.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: darkblue;
}

.header-title {
  display: flex;
  margin-left: 15px;
  color: white;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.header-link {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: green;
}
