button {
  width: 70px;
  height: 30px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.render-games {
  margin: 30px;
  padding: 20px;
  background-color: white;
}

.render-game {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.render-team {
  margin-right: 10px;
}
